<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'WikiApp/css/base.css' %}">

</head>
<body class="body">
<div class="container1">
<header class="headerText">WikiChey
    <a class="signUp" href="{% url 'NewUser' %}">Sign Up | </a><a class="signIn" href="{% url 'login' %}">Sign In</a>


<p class="navText">
    <a class="navSpace"  href="{% url 'index' %}">Home</a>
    <a class="navSpace" href="{% url 'NewPosts' %}">New Wiki Post</a>
    <a class="navSpace" href="{% url 'YourPosts' %}">Your Wiki Post</a>
</p>
</header>
<section>
    {% block content %}
    <h1>POST</h1>
    {% endblock content %}
</section>

<footer>
    <p>WikiChey was develop by</p>
    <p>Porche' Wooten</p>
</footer>
</div>
</body>
</html>