{% extends 'WikiApp/base.html' %}
{% load static %}

{% block content %}
<!--<div class="postContainer">-->
<!--<div class="pic">-->

{% for posts in allposts %}
<div class="postContainer">
    {% if posts.wiki_post_image %}
    <img class="pic" src='{{ posts.wiki_post_image.url }}' width="250px" alt="images">
    {% endif %}
    <div class="text" style="width: 700px">
        <H1>{{posts.postSubject}}</H1>
        {{posts.postText}}
    </div>
</div>
<hr/>
{% endfor %}
<!--</div>-->
<!--</div>-->
{% endblock content %}





