{% extends 'WikiApp/base.html' %}
{% load static %}

{% block content %}
<!--<div class="postContainer">-->
<!--<div class="pic">-->

{% for posts in allposts %}
<div class="postContainer">
    <img class="pic" src='{{ posts.imageURL }}' height="250px" width="250px">

    <div class="text" style="width: 700px">
        <H1>{{posts.postSubject}}</H1>
        {{posts.postText}}
    </div>
</div>
<hr/>
{% endfor %}
<!--</div>-->
<!--</div>-->
{% endblock content %}

{% block section %}

    <h2>Related Items</h2>
{% for relatedPost in allRelatedPost %}
<p><img src="{{ relatedPost.imageURL }}" height="250px" width="250px"></p>

<a href="{% url 'NewUser' %}">New User</a>
{% endfor %}
{% endblock section %}



