{% extends 'WikiApp/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<h1 class="welcome">Welcome, {{ user.username }}
<a class="logout" href="{% url 'logout' %}">LOGOUT</a></h1>
<section>

    <h1 class="newPostText">Create New Post</h1>
    <form method="post" enctype="multipart/form-data">

        {{ new_post.as_p }}
        {% csrf_token %}
        <input type="submit" value="Submit">

    </form>
    <a href="{% url 'YourPosts' %}"><button>Cancel</button></a>
</section>


{% else %}
<h1>WELCOME!</h1>
<!--&lt;!&ndash;LINK TO CREATE USER;it created a Person instead-->
<a href="{% url 'NewUser' %}"><p>CREATE NEW USER</p></a>
<p>or</p>
<a href="{% url 'login' %}"><p>LOG IN</p></a>

{% endif %}
{% endblock content %}
