{% extends 'WikiApp/base.html' %}
{% load static %}
{% block content %}
<section>

    <h1>New Post</h1>
    <form method="post">

        {{ new_post.as_p }}
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>

</section>
{% endblock content %}
{% block section %}
<aside>

    <h1>Add related items</h1>
    <form method="post">

        {{ newRelatedItem.as_p }}
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>

</aside>
{% endblock section %}