{% extends 'WikiApp/base.html' %}
{% load static %}

{% block content %}
<h2 class="welcome">{{ user.username }}'s Posts <a class="logout" href="{% url 'logout' %}">LOGOUT</a></h2>
<section>




<div class="postContainer">
    <p class="related"><a href="{% url 'newRelatedPost' %}">Add Related Item</a></p>
    <!--if user add pic to post-->
    {% if oldPost.wiki_post_image %}
    <img class="pic" src='{{ oldPost.wiki_post_image.url }}'  width="250px" alt="images">
    {% endif %}
    <div class="text" style="width: 130%">
        <H1 class="subject">{{oldPost.postSubject}}</H1>
        {{oldPost.postText}}
        <p>
            <a class="a" href="{% url 'editPost' oldPost.pk %}">Edit </a>
            <a class="a" href="{% url 'deletePost' oldPost.pk %}">Delete</a>
        </p>
    </div>
    <div class="relatedItems" style="width: 300px">

        <h1 class="subject2">Related Items</h1>

        {% for items in relatedItems %}
        {% if items.relatedwiki_post_image %}
        <img src='{{ items.relatedwiki_post_image.url }}'  width="150px" alt="images">
        {% endif %}
        <h2 class="subject">{{ items.relatedpostSubject }}</h2>
        <p>{{ items.create_date }}</p>
        <p>{{ items.update_date }}
        </p><p>{{ items.relatedpostText }}</p>
        <a class="a" href="{% url 'editRelatedItem' oldPost.pk %}">Edit </a>
        <a class="a" href="{% url 'deletePost' oldPost.pk %}">Delete</a>
        <hr/>
        {% endfor %}

    </div>
</div>
</section>
{% endblock content %}
