{% extends 'WikiApp/base.html' %}
{% load static %}

{% block content %}



<h2>{{ user.username }}'s Posts</h2><a href="{% url 'logout' %}">LOGOUT</a>
<!--<div class="postContainer">-->
<!--<div class="pic">-->

{% for posts in userPosts %}
<div class="postContainer">
    <!--if user add pic to post-->
    {% if posts.wiki_post_image %}
    <img class="pic" src='{{ posts.wiki_post_image.url }}'  width="250px" alt="images">
    {% endif %}
    <div class="text" style="width: 700px">
        <H1>{{posts.postSubject}}</H1>
        {{posts.postText}}
        <p>

            <a href="{% url 'editPost' posts.id %}">
                <button>Edit</button>
            </a>
            <a href="{% url 'deletePost' posts.id %}">
                <button>Delete</button>
            </a>
        </p>
    </div>
</div>
{% endfor %}
{% endblock content %}