{% extends 'WikiApp/base.html' %}
{% load static %}

{% block content %}
<h2 class="welcome">{{ user.username }}'s Posts <a class="logout"href="{% url 'logout' %}">LOGOUT</a></h2>
<p class="related"><a href="{% url 'newRelatedPost' posts.id %}">Add Related Item</a></p>
<!--<div class="postContainer">-->
<!--<div class="pic">-->

{% for posts in userPosts %}
    <div class="postContainer">
    <!--if user add pic to post-->
    {% if posts.wiki_post_image %}
        <img class="pic" src='{{ posts.wiki_post_image.url }}'  width="250px" alt="images">
    {% endif %}
    <div class="text" style="width: 700px">
       <H1 class="subject">{{posts.postSubject}}</H1>
        {{posts.postText}}
        <p><a class='view' href="{% url 'viewpost' posts.id %}">View</a></p>
    </div>
</div>
{% endfor %}

<hr/>




{% endblock content %}




